/* You can add global styles to this file, and also import other style files */

body, html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: Source Sans Pro,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #505c75;
  -webkit-font-smoothing: antialiased;
}

.app-nav {
  position: fixed;
}

/* Move edit button */
.markdown-section > * > div[style] {
  float: right;
}

.markdown-section > * > div[style] a {
  text-decoration: none;
}

section.cover hr, footer hr {
  border: none;
  border-bottom: 1px solid var(--theme-color-secondary-light, #0074d92e);
  margin: 2em 20%;
}

.sidebar hr {
  border: none;
  border-bottom: 1px solid var(--theme-color-secondary-light, #0074d92e);
  margin: 0 20%;
}

section.content footer {
  margin: 30px 0;
  text-align: center;
}

::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
