/* You can add global styles to this file, and also import other style files */

body, html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: Source Sans Pro,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #505c75;
  -webkit-font-smoothing: antialiased;
}

.app-nav {
  position: fixed;
}

section.cover .cover-main {
  padding: 0 40px;
}

section.cover td {
  padding: 0 40px;
}

section.cover .custom-block.grid strong {
  font-size: 24px;
}

section.cover .custom-block.grid img {
  max-width: 80px;
  margin-top: 40px;
}

section.cover .docspa-logo {
  max-width: 250px;
}

.content {
  padding-top: 0;
}

/* Move edit button */
.markdown-section > * > div[style] {
  float: right;
}

.markdown-section > * > div[style] a {
  text-decoration: none;
}

section.cover hr,
footer hr {
  border: none;
  border-bottom: 1px solid var(--theme-color-secondary-light, #0074d92e);
  margin: 2em 20%;
}

.sidebar hr {
  border: none;
  border-bottom: 1px solid var(--theme-color-secondary-light, #0074d92e);
  margin: 0 20%;
}

section.content footer {
  margin: 30px 0;
  text-align: center;
}

.left-sidebar {
  padding: 0;
}

.left-sidebar .docspa-logo {
    text-align: center;
    width: 100%;
    display: block;
}

::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

/* Buttons */
a.btn {
  border-color: var(--theme-color, #0074d9);
  border-radius: 2rem;
  border-style: solid;
  border-width: 1px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: var(--theme-color, #0074d9);
  display: inline-block;
  font-size: 1.05rem;
  letter-spacing: 0.1rem;
  margin: 0.5rem 1rem;
  padding: 0.75em 2rem;
  text-decoration: none;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
}
a.btn.btn-primary {
  background-color: var(--theme-color, #0074d9);
  color: #fff;
}
a.btn.btn-primary:hover {
  color: inherit;
  opacity: 0.8;
}
a.btn:hover {
  color: inherit;
}

/* Rules for sizing the icon. */
.material-icons.md-15 { font-size: 15px; }
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

[data-icon]::before {
  content: attr(data-icon);
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 1em;
  display: inline-block;
  vertical-align: middle;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
   
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

#mermaid-host-render {
  height: 600px;
  width: 600px;
}
